html,
body {
    box-sizing: border-box;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
    padding: 0;
    width: 100%;
}
.container-full {
    grid-column: 1 / span 2;
}
.container-L {
    grid-column: 1 / span 1;
}
.container-R {
    grid-column: 2 / span 1;
}
.content {
    padding: 80px 0 0;
}
h2 {
    font-family: 'Prata', serif;
    font-size: 2.5rem;
    font-weight: 200;
    margin: 0 0 2rem;
    text-align: center;
}

p {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.4;
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
}

#events,
#things-to-do {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

#map {
    width: 100%;
    height: 360px;
    margin: 30px auto 0;
}