- 
  var phillsDir = 'https://www.google.com/maps/dir//Pinehills+Golf+Club,+54+Clubhouse+Dr,+Plymouth,+MA+02360/@41.8858352,-70.5964869,17z'
  var h1620Dir = 'https://www.google.com/maps/dir//Hotel+1620+Plymouth+Harbor,+Water+Street,+Plymouth,+MA/@41.961762,-70.7402986,12z'
doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
        meta(name='description' content='...')
        //-   <!-- link(rel='prefetch' href='...js file'-->
        
        link(href='https://fonts.googleapis.com/css?family=Great+Vibes|Raleway:200,400|Playfair+Display' rel='stylesheet' type="text/css")
        link(rel='stylesheet' href='./vendor/normalize.css' type="text/css")
        link(rel='stylesheet' href='./vendor/animate.css' type="text/css")
        link(rel='stylesheet' href='./vendor/aos.css' type="text/css")
        link(rel='stylesheet' href='./css/bundled.css' type="text/css")
        //-    <!--        // Global site tag (gtag.js) - Google Analytics-->
        script(async type='text/javascript' src='https://www.googletagmanager.com/gtag/js?id=UA-109028742-2')
    body
        header
            nav#main(class='menu')
                ul.main-nav
                    li.nav-item: a(href="#events") Events
                    li.nav-item: a(href="#accommodations") Accommodations
                    li.nav-item: a(href="#things-to-do") Things To Do
                    li.nav-item: a(href="#photographs") Photographs
                    li.nav-item: a(href="#registries") Gift Registries
            span(class='nav-btn'): img(src='./img/bars.svg')
            .names
                h1 Caitrin #[span.and &] Colin
                span.full-date DECEMBER 1, 2018
        main
            section#welcome
                include partials/welcome.pug
            section#events.grid--2-col
                include partials/events.pug    
            section#accommodations
                include partials/accommodations.pug
            section#things-to-do.grid--2-col
                include partials/things-todo.pug
            section#photographs
                include partials/photographs.pug
            section#registries
                .container
                    h2 Gift Registries
                    p(style="margin:20px 0 0") Jerky pork turkey shankle t-bone porchetta pastrami meatloaf pork loin andouille pancetta.
                    p(style="margin:20px 0 0") Jerky pork turkey shankle t-bone porchetta pastrami meatloaf pork loin andouille pancetta.
                    p(style="margin:20px 0 0") Jerky pork turkey shankle t-bone porchetta pastrami meatloaf pork loin andouille pancetta.
        footer
            ul.footer-nav
                li.nav-item: a(href="#events") Events
                li.nav-item: a(href="#accommodations") Accommodations
                li.nav-item: a(href="#things-to-do") Things To Do
                li.nav-item: a(href="#photographs") Photographs
                li.nav-item: a(href="#registries") Gift Registries
                li.nav-item: a(href="#events") Pine Hills
                li.nav-item: a(href="#accommodations") Hotel 1620
                li.nav-item: a(href="#") Playlist App
            .footer-content
                p Sign up to be notified of any updates!
                form
                    input(type="email" placeholder="e-mail@mail.com" required)
                    button(type="submit" class="btn frm-btn") Submit
            p.thanks Special thanks to #[a(href="#") Ben Boynton Photography]
    
    script(src="./js/g-map.js")
    script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCl5Bletj_g8V6KqWBKJ8ZYCuKkiAD4i1s&callback=initMap" type="text/javascript")    
    script(src="./vendor/aos.js")
    script(src="./js/index.js")
    script(src="./js/display.js")
    script.
        var galleryImg = document.querySelectorAll('.gallery-item img');
        var modal = document.querySelector('.img-box');
        var modalImg = document.querySelector('.img-box-content img');
        var modalClose = document.querySelector('.img-box-close');

        galleryImg.forEach(function(img) {
            img.addEventListener('click', function(e) {
                e.stopPropagation();
                var source = this.getAttribute('src');
                modalImg.setAttribute('src', source);
                modal.classList.toggle('zoomIn');
                modal.classList.remove('zoomOut');
            });
        });

        modalClose.addEventListener('click', function(e) {
            e.preventDefault();
            e.stopPropagation();
            modal.classList.replace('zoomIn', 'zoomOut');
        });
        
        
        var navbar = document.querySelector('.menu');
        var navLinks = document.querySelectorAll('.main-nav .nav-item');
        var navBtn = document.querySelector('.nav-btn');
        
        navBtn.addEventListener('click', function () {
            navbar.classList.toggle('open');
            this.classList.toggle('pressed');
        });
        
        navLinks.forEach(function (link) {
            link.addEventListener('click', function () {
                if(navbar.classList.contains('open')){
                    navbar.classList.toggle('open');
                    navBtn.classList.toggle('pressed');
                }
            });
        });
        //-    REMOVE COMMENT IN PROD TO INIT ANALYTICS
        //-    script.
        //-        window.dataLayer = window.dataLayer || [];
        //-        function gtag(){dataLayer.push(arguments);}
        //-        gtag('js', new Date());
        //-        gtag('config', 'UA-109028742-2');