- 
  var phillsDir = 'https://www.google.com/maps/dir//Pinehills+Golf+Club,+54+Clubhouse+Dr,+Plymouth,+MA+02360/@41.8858352,-70.5964869,17z'
  var h1620Dir = 'https://www.google.com/maps/dir//Hotel+1620+Plymouth+Harbor,+Water+Street,+Plymouth,+MA/@41.961762,-70.7402986,12z'
doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
        meta(name='description' content='Wedding website for Caitrin Walsh and Colin Friend. Caitrin and Colin are getting married!')
        
        title Caitrin and Colin are getting married!
        
        link(name='theme-color' content='#28324A')
        link(href='https://fonts.googleapis.com/css?family=Great+Vibes|Raleway:200,400|Playfair+Display' rel='stylesheet' type="text/css" async)
        link(rel='stylesheet' href='./css/vendor.min.css' type="text/css" async)
        link(rel='stylesheet' href='./css/bundled.min.css' type="text/css" async)
        //-    <!--        // Global site tag (gtag.js) - Google Analytics-->
        script(async type='text/javascript' src='https://www.googletagmanager.com/gtag/js?id=UA-109028742-2')  
        link(rel='icon' href='./icon-128.png' sizes='128x128')
        link(rel='icon' href='./icon-64.png' sizes='64x64')
        link(rel='icon' href='./icon-32.png' sizes='32x32')
        link(rel='icon' href='./icon-16.png' sizes='16x16')
        style.
            header {
                background-color: #28324A;
                background-position: center bottom;
                margin: 0;
                padding: 0;
                position: relative;
                height: 100vh;
                width: 100%;
                overflow: hidden;
                z-index: 500;
            }
    body
        header
            nav#main(class='menu')
                ul.main-nav
                    li.nav-item: a(href="#events") Events
                    li.nav-item: a(href="#accommodations") Accommodations
                    li.nav-item: a(href="#things-to-do") Things To Do
                    li.nav-item: a(href="#photographs") Photographs
                    li.nav-item: a(href="#registries") Gift Registries
            span(class='nav-btn'): img(src='./img/bars.svg')
            .names
                h1 Caitrin #[span.and &] Colin
                span.full-date DECEMBER 1, 2018
        main
            section#welcome
                include partials/welcome.pug
            section#events.grid--2-col
                include partials/events.pug    
            section#accommodations
                include partials/accommodations.pug
            section#things-to-do.grid--2-col
                include partials/things-todo.pug
            section#photographs
                include partials/photographs.pug
            section#registries
                .container
                    h2 Gift Registries
                    .registry-list
                        a(class='registry' href='https://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?registryId=545165790&eventType=Wedding&pwsurl' rel='noopener' target='_blank')
                            img(src='./img/bbb-min.png')
                        a(class='registry' href='https://www.zola.com/registry/caitrinandcolin' rel='noopener' target='_blank')
                            img(src='./img/Zola-Logo-min.png')
        footer   
            ul.footer-nav
                li.nav-item: a(href="#events") Events
                li.nav-item: a(href="#accommodations") Accommodations
                li.nav-item: a(href="#things-to-do") Things To Do
                li.nav-item: a(href="#photographs") Photographs
                li.nav-item: a(href="#registries") Gift Registries
                li.nav-item: a(href="http://pinehillspaviliongrille.com/pavilion/weddings/" rel='noopener' target='_blank') Pinehills
                li.nav-item: a(href="https://www.hotel1620.com/" rel='noopener' target='_blank') Hotel 1620
                li.nav-item: a(href="/playlist") Playlist App
            .footer-content
                p Sign up to be notified of any updates!
                h4.formMsg
                form(id='emailForm')
                    input(type="email" id="email" name="email" placeholder="e-mail@mail.com" required)
                    button(type="submit" class="btn frm-btn") Submit
                p If you have a question, please contact 
                    a(href='mailto:caitrinandcolin2018@gmail.com?Subject=I%20have%20a%20question') caitrinandcolin2018@gmail.com
            p.thanks Special thanks to #[a(href="https://benboyntonphotography.com/" rel="noopener"  target="_blank") Ben Boynton Photography]
    script(src="./vendor/aos.min.js")
    script(src="./js/index.min.js")
    script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCl5Bletj_g8V6KqWBKJ8ZYCuKkiAD4i1s&callback=initMap" type="text/javascript")
    script(src="https://unpkg.com/axios/dist/axios.min.js" async defer)
    script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-109028742-2');
        
        window.addEventListener('load', function(){
        var images = document.querySelectorAll('.gallery-item img');
        for (var i=0; i< images.length; i++) {
            if (images[i].getAttribute('data-src')) {
                images[i].setAttribute('src', images[i].getAttribute('data-src'));
            }
        }
        }, false);