doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
        base(href='www.catirinandcolin.com')
        
        meta(name='description' content='...')
        //- link(rel='prefetch' href='...js file')
        link(href="https://fonts.googleapis.com/css?family=Great+Vibes|Montserrat:200,400,600|Prata" rel="stylesheet")
        link(rel='stylesheet' href='./vendor/normalize.css')
        link(rel='stylesheet' href='./css/style.css')
        // Global site tag (gtag.js) - Google Analytics
        script(async type='text/javascript' src="https://www.googletagmanager.com/gtag/js?id=UA-109028742-2")
        script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCl5Bletj_g8V6KqWBKJ8ZYCuKkiAD4i1s&callback=initMap" type="text/javascript")
    body
        nav
            p navbar
        header(style="background-color:#999;width:100%;height:100vh")
            h1 C & C
        main
            section#welcome
                .container
                    h2 Welcome
                    p.
                        Jerky pork turkey shankle t-bone porchetta pastrami meatloaf pork loin andouille pancetta. Ribeye venison pastrami, meatball strip steak jowl chicken drumstick buffalo andouille brisket. Beef ribs capicola short loin kevin, salami drumstick pastrami brisket porchetta bresaola pig strip steak. Kevin bresaola ham, cow buffalo short loin biltong t-bone.
            section#events
                .container-L(style='background-color:red')
                    .content
                        h2 Events
                        p.
                            Jerky pork turkey shankle t-bone porchetta pastrami meatloaf pork loin andouille pancetta. Ribeye venison pastrami, meatball strip steak jowl chicken drumstick buffalo andouille brisket. Beef ribs capicola short loin kevin, salami drumstick pastrami brisket porchetta bresaola pig strip steak. Kevin bresaola ham, cow buffalo short loin biltong t-bone.
                .container-R(style='background-color:blue')
                    .content
                        h2 img
            section#accommodations
                .container-full
                    .content
                        h2 Accommodations
                        p.
                            Jerky pork turkey shankle t-bone porchetta pastrami meatloaf pork loin andouille pancetta. Ribeye venison pastrami, meatball strip steak jowl chicken drumstick buffalo andouille brisket. Beef ribs capicola short loin kevin, salami drumstick pastrami brisket porchetta bresaola pig strip steak. Kevin bresaola ham, cow buffalo short loin biltong t-bone.
                        #map
            section#things-to-do
                .container-L(style='background-color:#28324a;color:#f1f1e6')
                    .content
                        h2 Things To Do - Boston 
                .container-R(style='background-color:red')
                    .content
                        h2 Things To Do - Cape Cod
            section#photographs
                .container-full
                    .content
                        h2 Photographs
            section#gift-registries
                .container-full
                    .content
                        h2 Gift Registries
                        p Jerky pork turkey shankle t-bone porchetta meatloaf pork loin andouille pancetta. 
                        p Ribeye venison pastrami, meatball strip  chicken drumstick buffalo andouille brisket. 
                        p Beef ribs capicola short loin kevin, pastrami brisket porchetta bresaola pig.
        footer
            h1 footer
        script(src='./js/maps.js')
        //- 
            REMOVE COMMENT IN PROD TO INIT ANALYTICS
            script.
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());
                gtag('config', 'UA-109028742-2');