.event-content(class='grid-item--lft')
    .container
        h2 Events
        p The ceremony and reception will take place at Pinehills Golf Club. Come dressed in your best and ready to dance!
        ul.schedule
            li.event.highlight Pinehills Golf Club in Plymouth, MA
            li.event Ceremony ~ Evening of December 1, 2018
            li.event Reception to follow
        a(class="btn animated" href=phillsDir target='_blank') Directions
.event-img(class='grid-item--rgt')
    img(src='http://res.cloudinary.com/frndcolin/image/upload/h_1200,q_70,c_crop,g_south/v1519797202/wedding-site/img0011.jpg')