.event-content(class='grid-item--lft')
    .container
        h2 Events
        p The ceremony and reception will take place at Pinehills Golf Club. Come dressed in your best and ready to dance!
        ul.schedule
            li.event.highlight Hotel 1620
            li.event Welcome Gathering ~ 8 pm Novemeber 30, 2018
            br
            li.event.highlight Pinehills Golf Club in Plymouth, MA
            li.event Ceremony ~ 5 pm December 1, 2018
            li.event Reception to follow
        a(class="btn animated" href=phillsDir target='_blank') Directions
.event-img(class='grid-item--rgt')
    img(src='https://res.cloudinary.com/frndcolin/image/upload/s--L-rXMFUg--/f_auto,q_jpegmini:2/v1519797202/wedding-site/img001.jpg')