.event-content(class='grid-item--lft' data-aos='zoom-in')
    .container(style='background-color:#28324A')
        h2 Events
        p. 
            Jerky pork turkey shankle t-bone porchetta pastrami meatloaf pork loin andouille pancetta. Ribeye venison pastrami, meatball strip steak jowl chicken drumstick buffalo andouille brisket. Beef ribs capicola short loin kevin, salami drumstick pastrami brisket.
        ul.schedule
            li.event Ceremony ~ 4:30pm December 1, 2018
            li.event Reception to follow
        a(class="btn animated" href=phillsDir target='_blank') Directions
.event-img(class='grid-item--rgt' data-aos='flip-left')
    img(src='https://source.unsplash.com/1600x900/?wedding,engagement')
