.container
    h2 Photographs
    ul.gallery
        li.gallery-item(class='img-lg' data-aos-anchor=".gallery" data-aos="zoom-in-up")
            img(src='./img/spinner.gif' data-src="https://res.cloudinary.com/frndcolin/image/upload/s--BYuqBciZ--/f_auto,q_jpegmini:2/v1519797219/wedding-site/img006.jpg" alt="photograph of Caitrin and Colin")
        li.gallery-item(class='img-sm' data-aos-anchor=".gallery" data-aos="flip-right")
            img(src='./img/spinner.gif' data-src="https://res.cloudinary.com/frndcolin/image/upload/s--J7gl9uDn--/f_auto,q_jpegmini:2/v1519797267/wedding-site/img017.jpg" alt="photograph of Caitrin and Colin")
        li.gallery-item(class='img-tl' data-aos-anchor=".gallery" data-aos="zoom-in-left")
            img(src='./img/spinner.gif' data-src="https://res.cloudinary.com/frndcolin/image/upload/s--EYnK4N3a--/f_auto,q_jpegmini:2/v1519797212/wedding-site/img004.jpg" alt="photograph of Caitrin and Colin")
        li.gallery-item(class='img-sm' data-aos-anchor=".gallery" data-aos="zoom-in-down")
            img(src='./img/spinner.gif' data-src="https://res.cloudinary.com/frndcolin/image/upload/s--cVh-LyNa--/f_auto,q_jpegmini:2/v1519797276/wedding-site/img019.jpg" alt="photograph of Caitrin and Colin")
        li.gallery-item(class='img-tl' data-aos-anchor=".gallery" data-aos="zoom-in-right")
            img(src='./img/spinner.gif' data-src="https://res.cloudinary.com/frndcolin/image/upload/s--Ibxdyx1n--/f_auto,q_jpegmini:2/v1519797223/wedding-site/img007.jpg" alt="photograph of Caitrin and Colin")
        li.gallery-item(class='img-lg' data-aos-anchor=".gallery" data-aos="flip-up")
            img(src='./img/spinner.gif' data-src="https://res.cloudinary.com/frndcolin/image/upload/s--R8tIf3wR--/f_auto,q_jpegmini:2/v1519797254/wedding-site/img014.jpg" alt="photograph of Caitrin and Colin")
        li.gallery-item(class='img-sm' data-aos-anchor=".gallery" data-aos="zoom-in-left")
            img(src='./img/spinner.gif' data-src="https://res.cloudinary.com/frndcolin/image/upload/s--aJGs2eq---/f_auto,q_jpegmini:2/v1519797215/wedding-site/img005.jpg" alt="photograph of Caitrin and Colin")
        li.gallery-item(class='img-sm' data-aos-anchor=".gallery" data-aos="zoom-in-down")
            img(src='' data-src="https://res.cloudinary.com/frndcolin/image/upload/s--aPXbuiKz--/f_auto,q_jpegmini:2/v1519797228/wedding-site/img008.jpg" alt="photograph of Caitrin and Colin")
    .img-modal
        .modal-close
        .modal-content
            img(src='')
            .controls
                .control-left
                    img(src="./img/img-box-control.svg")
                .control-right
                    img(src="./img/img-box-control.svg")