.container
    h2 Photographs
    ul.gallery
        li.gallery-item(class='img-lg' data-aos-anchor=".gallery" data-aos="zoom-in-up")
            img(src="https://source.unsplash.com/800x450/?engagement")
        li.gallery-item(class='img-sm' data-aos-anchor=".gallery" data-aos="flip-right")
            img(src="https://source.unsplash.com/800x450/?city")
        li.gallery-item(class='img-tl' data-aos-anchor=".gallery" data-aos="zoom-in-left")
            img(src="https://source.unsplash.com/800x450/?wedding,white")
        li.gallery-item(class='img-sm' data-aos-anchor=".gallery" data-aos="zoom-in-down")
            img(src="https://source.unsplash.com/800x450/?wedding,ring")
        li.gallery-item(class='img-tl' data-aos-anchor=".gallery" data-aos="zoom-in-right")
            img(src="https://source.unsplash.com/800x450/?wedding,pink")
        li.gallery-item(class='img-lg' data-aos-anchor=".gallery" data-aos="flip-up")
            img(src="https://source.unsplash.com/800x450/?wedding,blue")
        li.gallery-item(class='img-sm' data-aos-anchor=".gallery" data-aos="zoom-in-left")
            img(src="https://source.unsplash.com/800x450/?wedding,blush")
        li.gallery-item(class='img-sm' data-aos-anchor=".gallery" data-aos="zoom-in-down")
            img(src="https://source.unsplash.com/800x450/?wedding,city")
    .img-box(class='animated')
        .img-box-close: img(src='./img/close.svg')
        .img-box-content
            img(src='')
        .img-box-controls
            .control(class='control-lft')
                img(src='./img/img-box-control.svg')
            .control(class='control-rgt')
                img(src='./img/img-box-control.svg')