.boston(class='grid-item--lft')
    .container
        h2 Boston
        p For our out of town guest that are flying into Boston and have time to explore, here is a list of some of our favorites to check out.
        ul.todo-list
            li: a(href='#') Boston Public Garden
            li: a(href='#') Faneuuil Hall Marketplace
            li: a(href='#') North End
            li: a(href='#') Samuel Adams Brewery
            li: a(href='#') Harpoon Brewery
            li: a(href='#') New England Aquarium
        
.cape-cod(class='grid-item--rgt')
    .container
        h2 Cape Cod
        p Explore some of the historic sites in Plymouth or some of the great scenary of Cape Cod.
        ul.todo-list
            li: a(href='#') Pilgrim Memorial State Park
            li: a(href='#') Plymouth Rock
            li: a(href='#') Village Landing Marketplace
            li: a(href='#') Cape Cod Canal
            li: a(href='#') Lighthouse Beach
            li: a(href='#') Main St Chatham