.boston(class='grid-item--lft' data-aos='zoom-in-right')
    .container
        h2 Boston
        p.
            Jerky pork turkey shankle t-bone porchetta pastrami meatloaf pork loin andouille pancetta. Ribeye venison pastrami, meatball strip steak jowl chicken drumstick buffalo andouille brisket.
        p Jerky pork turkey shankle t-bone porchetta
        p Jerky pork turkey shankle t-bone porchetta>
.cape-cod(class='grid-item--rgt' data-aos='flip-up')
    .container
        h2 Cape Cod
        p.
            Jerky pork turkey shankle t-bone porchetta pastrami meatloaf pork loin andouille pancetta. Ribeye venison pastrami, meatball strip steak jowl chicken drumstick buffalo andouille brisket.
        p Jerky pork turkey shankle t-bone porchetta
        p Jerky pork turkey shankle t-bone porchetta
        p Jerky pork turkey shankle t-bone porchetta