.boston(class='grid-item--lft')
    .container
        h2 Boston
        p For our out of town guest that are flying into Boston and have time to explore, here is a list of some of our favorites to check out.
        ul.todo-list
            li: a(href='https://www.tripadvisor.com/Attraction_Review-g60745-d103648-Reviews-Boston_Public_Garden-Boston_Massachusetts.html' target='_blank') Boston Public Garden
            li: a(href='https://www.tripadvisor.com/Attraction_Review-g60745-d104824-Reviews-Faneuil_Hall_Marketplace-Boston_Massachusetts.html' target='_blank') Faneuuil Hall Marketplace
            li: a(href='https://www.tripadvisor.com/Attraction_Review-g60745-d103113-Reviews-North_End-Boston_Massachusetts.html' target='_blank') North End
            li: a(href='https://www.samueladams.com/brewery-and-craft/brewery-tours' target='_blank') Samuel Adams Brewery
            li: a(href='https://www.harpoonbrewery.com/breweries/boston' target='_blank') Harpoon Brewery
            li: a(href='https://www.neaq.org/' target='_blank') New England Aquarium
.cape-cod(class='grid-item--rgt')
    .container
        h2 Cape Cod
        p Explore some of the historic sites in Plymouth or some of the great scenary of Cape Cod.
        ul.todo-list
            li: a(href='https://www.tripadvisor.com/Attraction_Review-g41773-d4313580-Reviews-Pilgrim_Memorial_State_Park-Plymouth_Massachusetts.html' target='_blank') Pilgrim Memorial State Park
            li: a(href='https://www.tripadvisor.com/Attraction_Review-g41773-d104830-Reviews-Plymouth_Rock-Plymouth_Massachusetts.html' target='_blank') Plymouth Rock
            li: a(href='http://www.villagelandingmarketplace.com/' target='_blank') Village Landing Marketplace
            li: a(href='https://www.tripadvisor.com/Attraction_Review-g41486-d942573-Reviews-Cape_Cod_Canal-Buzzards_Bay_Bourne_Cape_Cod_Massachusetts.html' target='_blank') Cape Cod Canal
            li: a(href='https://www.tripadvisor.com/Attraction_Review-g41499-d5008621-Reviews-Chatham_Lighthouse_Beach-Chatham_Cape_Cod_Massachusetts.html' target='_blank') Lighthouse Beach
            li: a(href='#https://www.destinationmainstreets.com/massachusetts/chatham.php' target='_blank') Main St Chatham