.container
    h2 Welcome
    p. 
        Jerky pork turkey shankle t-bone porchetta pastrami meatloaf pork loin andouille pancetta. Ribeye venison pastrami, meatball strip steak jowl chicken drumstick buffalo andouille brisket. Beef ribs capicola short loin kevin, salami drumstick pastrami brisket porchetta bresaola pig strip steak. Kevin bresaola ham, cow buffalo short loin biltong t-bone.
    .countdown
        .date
            span.date-title Months
            span.date--months 00
        .date
            span.date-title Days
            span.date--days 00
        .date.hours
            span.date-title Hours
            span.date--hours 00
        .date.minutes
            span.date-title Minutes
            span.date--minutes 00
        .date.seconds
            span.date-title Seconds
            span.date--seconds 00