.container
    h2 Welcome
    p. 
        We are so excited to celebrate our wedding surrounded by friends and family!  We hope that this website will provide you with all the information you need. Below  you will find ceremony and reception details including addresses and directions, accommodation details, and much more.
    .playlist
        span(class="playlist-btn animated")
        .playlist-body
            p Already hoping that we’ll play your favourite dancing tune at the wedding? Request or vote for your favorite song!
            a(href='http://caitrinandcolin.com/playlist') Wedding Playlist
    .countdown
        .date
            span.date-title Months
            span.date--months 00
        .date
            span.date-title Days
            span.date--days 00
        .date.hours
            span.date-title Hours
            span.date--hours 00
        .date.minutes
            span.date-title Minutes
            span.date--minutes 00
        .date.seconds
            span.date-title Seconds
            span.date--seconds 00