html, body {
    background-color: #f9f9f9;
    box-sizing: border-box;
    color: #444;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

header {
    background-color: #28324A;
    background-image: url('https://source.unsplash.com/1600x900/?wedding,engagement');
    background-size: cover;
    margin: 0;
    padding: 0;
    position: relative;
    height: 100vh;
    width: 100%;
}
section {
    margin: 0;
    padding: 0;
    width: 100%;
}

h1 {
    font-size: 54px;
    font-family: 'Great Vibes', cursive;
    font-weight: 400;
}

h2 {
    font-family: 'Great Vibes', serif;
    font-size: 3.4rem;
    font-weight: 400;
    margin: 0 0 15px 0;
    text-align: center;
}

p {
    font-family: 'Raleway', sans-serif;
    line-height: 1.418;
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
}