html, body {
    background-color: #f9f9f9;
    box-sizing: border-box;
    color: #444;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    position: relative;
    scroll-behavior: smooth;
}
main {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
}
header {
    background-color: #28324A;
    background-image: url(../img/_MG_6898.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: 100% 120%;
    margin: 0;
    padding: 0;
    position: relative;
    height: 100vh;
    max-height: calc((9 / 16) * 100%);
    width: 100%;
}
section {
    margin: 0;
    min-height: 50vh;
    padding: 0;
    width: 100%;
}

footer {
    background-color: var(--blue);
    color: var(--white);
    padding: 30px 0;
    min-height: 40vh;
}

form {
    margin: 5px auto 40px;
    text-align: center;
    padding: 5px 7px;
}

input {
    margin: 4px 18px 4px 0;   
    font-size: 14px;
    color: var(--white);
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--gold);
    border-left: 2px solid var(--gold);
    border-radius: 0;
    padding: 8px;
    width: 220px;
}

h1 {
    font-size: calc(54px + (90 - 54) * ((100vw - 300px) / (1600 - 300)));
    font-family: 'Prata', serif;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.1em;
    letter-spacing: 0.05em;
    margin: 0;
}

h2 {
    font-family: 'Great Vibes', serif;
    font-size: 60px;
    font-size: calc(54px + (66 - 54) * ((100vw - 300px) / (1400 - 300)));
    font-weight: 400;
    margin: 0 0 15px 0;
    text-align: center;
}

p {
    font-family: 'Raleway', sans-serif;
    line-height: 1.418;
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
    width: 95%;
}
@media only screen and (min-width: 600px){
    .grid--2-col  p {
        max-width: 70%;
    }
}
