.img-modal {
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    transform: scale(0);
    transition: all 0.5s;
    z-index: 999;
}

.img-modal.opened { transform: scale(1);}

.modal-close {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    background-color: rgba(0, 0, 0, 0.3);
    background-image: url('../img/close.svg');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}

.modal-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
    width: 100%;
}

.modal-content img {
    width: 100%;
    height: auto;
}
.controls {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.control-left,
.control-right {
    width: 45px;
    height: 45px;
    margin: 0 30px;
    background-color: rgba(0, 0, 0, 0.2);
    position: relative;
    border: 5px solid rgba(0, 0, 0, 0.04);
    border-radius: 50%;
    transition: all 0.2s;
}

.control-left img,
.control-right img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-55%, -50%);
    height: 40px;
    width: 40px;
}

.control-right img {
    transform-origin: center;
    transform: rotate(180deg) translate(45%, 50%)
}
.modal-close:hover,
.control-left:hover,
.control-right:hover {
    background-color: rgba(100, 100, 100, 0.2);
    transform: scale(1.15);
}
@media only screen and (min-width: 40em) {
    .modal-content {
        height: 80vh;
        width: auto;
        max-width: 90%;
        object-fit: cover;
    }
    .modal-content img {
        width: auto;
        height: 90%;
    }
}


