/*-----------------------------------------------------------------------*/
/*-------------------------GENERAL ELMNTS/STYLES-------------------------*/
/*-----------------------------------------------------------------------*/

:root {
    --blue: #28324A;
    --gold: #D6A319;
    --dark-gold: #CC9C1A;
    --black: #444444;
    --white: #FCFCFC;
}

.btn {
    background-color: var(--gold);
    border: 2px solid var(--gold);
    border-radius: 2px;
    color: var(--white);
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
    margin: 40px auto 0;
    padding: 13px;
    min-width: 175px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.2s;
}

.btn-ghost {
    background-color: transparent;
    color: var(--gold);
    padding: 13px;
    margin-top: 10px;
}

.btn:hover {
    background-color: var(--dark-gold);
    color: var(--white);
}

.hide {
    display: none !important;
}

.show {
    display: block;
}

.map-hide {
    overflow: hidden;
    height: 0;
}

.map-show {
    display: flex;
    height: 100%;
}

/*-----------------------------------------------------------------------*/
/*-----------------------------------HEADER------------------------------*/
/*-----------------------------------------------------------------------*/

header:before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-image:linear-gradient(rgba(0, 0, 0, 0.25), rgba(40, 50, 75, 0.05)), linear-gradient(rgba(214, 163, 25, 0.25), rgba(40, 50, 75, 0.05), rgba(40, 50, 75, 0.6));
}

.names {
    color: var(--white);
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    text-shadow: 0 0 18px rgba(40, 50, 75, 0.32);
    transform: translateY(-50%);
}

.and {
    color: var(--gold);
    font-size: 1.3em;
    line-height: 0.5;
    margin: 5px -12px 5px -10px;
    display: block;
}

.full-date {
    color: var(--white);
    font-size: 20px;
    font-size: calc(20px + (28 - 20) * ((100vw - 360px) / (1600 - 360)));
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    min-width: 250px;
    max-width: 330px;
    margin-top: 40px;
}

.full-date::before {
    display: block;
    content: '';
    width: 50%;
    height: 1px;
    background-color: var(--white);
    position: absolute;
    left: -53%;
    top: 0.55em
}
.full-date::after {
    display: block;
    content: '';
    width: 50%;
    height: 1px;
    background-color: var(--white);
    position: absolute;
    right: -52%;
    top: 0.55em
}

@media only screen and (min-width: 40em) {
    .and {
        display: inline-block;
    }
    .full-date {
        margin-top: 15px;
    }
}


/*-----------------------------------------------------------------------*/
/*                                   WELCOME                             */
/*-----------------------------------------------------------------------*/

.countdown {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.date {
    border-radius: 2px;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 30px 1fr;
    justify-items: center;
    width: 100px;
    height: 95px;
    background-color: var(--blue);
    margin: 20px 10px 0;
    box-shadow: 4px 4px 18px rgba(0, 0, 0, 0.2), 2px 2px 12px rgba(0, 0, 0, 0.5);
}

.date-title {
    color: var(--white);
    align-self: end;
    font-size: 16px;
    font-weight: 400;
    padding: 0;
    margin: 0;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
}

[class*="date--"] {
    font-family: serif;
    font-size: 48px;
    align-self: center;
    color: var(--gold);
}

.hours,
.minutes,
.seconds {
    display: none;
}

@media only screen and (min-width: 30em) {
    .hours {
        display: grid;
    }
}

@media only screen and (min-width: 44em) {
    .minutes,
    .seconds {
        display: grid;
    }
}
@media only screen and (min-width: 80em) {
    .date {
        height: 110px;
        width: 110px;
    }
    .date-title {
        font-size: 18px;
    }
    [class*="date--"] {
        font-size: 64px;
    }
}


/*-----------------------------------------------------------------------*/
/*-----------------------------------EVENT------------------------------*/
/*-----------------------------------------------------------------------*/

.event-content {
    color: var(--white);
    text-align: center;
    background-color: var(--blue);
    font-weight: 200;
}

.event-img {
    display: none;
}

.event-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media only screen and (min-width: 50em) {
    .event-img {
        display: block;
    }
}

.schedule {
    list-style: none;
    margin: 30px 0 0;
    padding: 0;
}

.event {
    letter-spacing: 0.5px;
    margin: 12px 0;
}

/*-----------------------------------------------------------------------*/
/*-------------------------------Accommodations----------------------------*/
/*-----------------------------------------------------------------------*/

.map-info {
    background-color: rgba(40, 50, 74, 0.85);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    transition: all 0.4s;
    width: 100%;
    z-index: 99;
}

.map-info-body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-content: center;
    width: 40%;
    position: relative;
}

@media only screen and (max-width: 1100px) {
    .map-info-body {
        width: 80%;
        border: none;
        border-radius: 0;
    }
    .map-info-body p {
        max-width: 580px
    }
}

@media only screen and (max-width: 700px) {
    .map-info-body {
        width: 100%;
    }
}

.map-info-close {
    background-image: url("../img/close.svg");
    background-size: contain;
    display: block;
    height: 40px;
    width: 40px;
    position: absolute;
    right: 15px;
    opacity: 0.7;
    top: 15px;
    z-index: 350;
    transition: all 0.3s;
}
.map-info-close:hover {
    transform: scale(1.2);
    opacity: 1;
}

.map-info-title h4 {
    font-family: 'Great Vibes', sans-serif;
    font-size: 32px;
    font-weight: 200;
    margin: 24px 0 12px;
    text-align: center;
}

.map-info-content {
    padding: 0 40px;
    display: flex;
    font-weight: 200;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 500px) {
    .map-info-content {
        width: 100%;
        padding: 0;
    }
}

.map-btns {
    margin: 20px auto 25px;
}

.map-info-btn {
    display: inline-block;
    text-decoration: none;
    padding: 8px 32px;
    border-radius: 2px;
    border: 2px solid var(--gold);
    color: var(--gold);
    text-transform: uppercase;
    font-weight: 400;
    background-color: transparent;
    margin: 0 6px;
    transition: all 0.3s;
    min-width: 96px;
    text-align: center;
}

.map-info-btn:hover {
    background-color: var(--gold);
    color: var(--white);
}

@media only screen and (max-width: 440px) {
    .map-info-title {
        margin-top: 24px;
    }
    .map-info-btn {
        display: block;
        margin: 6px auto;
        ;
    }
}

/*-----------------------------------------------------------------------*/
/*-------------------------------THINGS TO DO----------------------------*/
/*-----------------------------------------------------------------------*/

.boston {
    font-weight: 200;
    color: var(--white);
    background-image: linear-gradient(rgba(40, 50, 74, 0.8), rgba(75, 85, 99, 0.6), rgba(40, 50, 74, 0.8)), url('https://source.unsplash.com/1600x900/?boston, city');
    background-size: cover;
}

.cape-cod {
    font-weight: 200;
    color: var(--white);
    background-image: linear-gradient(rgba(214, 123, 25, 0.6), rgba(40, 50, 74, 0.6), rgba(40, 50, 74, 0.8)), url('https://source.unsplash.com/1600x900/?beach');
    background-size: cover;
}

/*-----------------------------------------------------------------------*/
/*-----------------------------------GALLERY-----------------------------*/
/*-----------------------------------------------------------------------*/
#photographs {
    background-color: #f3f5f9;
}