nav.main {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway';
    height: 80px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.main-nav {
    list-style: none;
    padding: 30px;
    margin: 0;
}

.nav-item, .nav-item a {
    color: #fff;
    display: inline-block;
    font-size: 18px;
    letter-spacing: 1px;
    margin: 0 6px;
    position: relative;
    text-decoration: none;
}
.main .nav-item a {
    font-weight: 200;
    margin: 0;
    padding: 5px;
    transition: all 0.1s;
}
.nav-item a::after {
    content: '';
    display: block;
    height: 2px;
    width: 0;
    background-color: var(--gold);
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: width 0.4s
}

.nav-item a:hover::after {
    width: 100%;
}
