doctype html
html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Wedding Playlist
        link(href="https://fonts.googleapis.com/css?family=Great+Vibes|Raleway|Prata" rel="stylesheet")
        script(src="vendor/zenscroll.min.js")
        script(src="https://use.fontawesome.com/6de892528c.js")
        link(rel='stylesheet' href='./css/playlist.css')
        script(src="./vendor/angular.min.js")
    body(ng-app='songApp')
        .songs(ng-controller='SongsCtrl')
            h1 Songs that will make you dance!
            song-search(ng-controller="SongSearchCntrl")
                form.search-form
                    .form-group
                        label.sr-only(for="track") Song Title
                        input(type='text' name='title' ng-model="search.track" ng-change="clearResult()" placeholder="song title")
                    .form-group
                        label.sr-only(for="artist") Artist
                        input(type='text' name='artist' ng-model="search.artist" ng-change="clearResult()" placeholder="artist")
                    button.btn.btn-blue(type='submit' ng-click="searchSong(search.track, search.artist, $event)") Search
                    .search-result(ng-show="found")
                        h4(ng-show="error") {{errorMsg}}
                        h4(ng-hide="error") {{result.title}}, {{result.artist}} - 
                        a(ng-hide='error' ng-href='{{result.link}}' target="_blank"): i.fa.fa-youtube-play   
                        button.btn.btn-grn(ng-hide='error' ng-click='addSong(result, $event)') Add Song
                    p.search-msg(ng-hide='found') Search for your favorite song to add to the list
            .list
                .song-list
                    table(ng-controller="SongListCntrl")
                        thead
                            tr
                                th  
                                th Song Title
                                th Artist
                                th Total
                                th Vote
                        tbody
                            tr(ng-repeat="song in songs | orderBy:'+title'")
                                td {{$index + 1}}
                                td: a(ng-href='{{song.link}}' target='_blank') {{song.title}}
                                td {{song.artist}}
                                td: span.badge(ng-model='song.votes') {{song.votes}}
                                td
                                    button.btn.btn-blue(type='button' ng-click='addVote(song._id, $event)' ng-disabled="voted > 9"): i.fa.fa-thumbs-up    
    script(src='./js/playlist.js')
    script(src="https://unpkg.com/axios/dist/axios.min.js")