<html class="fa-events-icons-ready">

<head>
    <style type="text/css">
        @charset "UTF-8";
        [ng\:cloak],
        [ng-cloak],
        [data-ng-cloak],
        [x-ng-cloak],
        .ng-cloak,
        .x-ng-cloak,
        .ng-hide:not(.ng-hide-animate) {
            display: none !important;
        }

        ng\:form {
            display: block;
        }

        .ng-animate-shim {
            visibility: hidden;
        }

        .ng-anchor {
            position: absolute;
        }

    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wedding Playlist</title>
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Raleway|Prata" rel="stylesheet">
    <script src="../public/vendor/zenscroll.min.js"></script>
    <script src="https://use.fontawesome.com/6de892528c.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/6de892528c.css" media="all">
    <link rel="stylesheet" href="../public/css/playlist.css">
    <script src="../public/vendor/angular.min.js"></script>
</head>

<body ng-app="songApp" class="ng-scope">
    <h1>Songs that will make you dance!</h1>
    
    <div class="songs ng-scope" ng-controller="SongsCtrl">
        <div class="song-search" ng-controller="SongSearchCntrl" class="ng-scope">
            
            <form class="search-form ng-valid ng-dirty ng-valid-parse">
                <p class="search-msg ng-hide" ng-hide="found">Search for your favorite song to add to the list</p>
                <div class="form-group">
                    <label class="sr-only" for="track">Song Title</label>
                    <input type="text" name="title" ng-model="search.track" ng-change="clearResult()" placeholder="song title" class="ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched">
                </div>
                
                <div class="form-group">
                    <label class="sr-only" for="artist">Artist</label>
                    <input type="text" name="artist" ng-model="search.artist" ng-change="clearResult()" placeholder="artist" class="ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched">
                </div>
                <button class="btn btn-blue frm-btn" type="submit" ng-click="searchSong(search.track, search.artist, $event)">Search</button>
            </form>    
                <div class="search-result" ng-show="found">
                    <h4 ng-show="error" class="ng-binding ng-hide"></h4>
                    <h4 ng-hide="error" class="ng-binding">So Cold, Breaking Benjamin - </h4>
                        <a ng-href="https://www.youtube.com/results?search_query=undefined%20undefined" target="_blank" href="https://www.youtube.com/results?search_query=undefined%20undefined">
                            <i class="fa fa-youtube-play"></i>   
                        </a>
                        <button class="btn btn-grn frm-btn" ng-hide="error" ng-click="addSong(result, $event)">Add Song</button>
                    
                </div>
        </div>
        
        <div class="list">
            
            <div class="song-list">
                <table ng-controller="SongListCntrl" class="ng-scope">
                    <thead>
                        <tr>
                            <th> </th>
                            <th>Song Title</th>
                            <th>Artist</th>
                            <th>Total</th>
                            <th>Vote</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>song title</td>
                            <td>song artist</td>
                            <td><span  class='badge'>3</span></td>
                            <td><button class='btn btn-blue'><i class='fa fa-thumbs-up'></i></button></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>song title</td>
                            <td>song artist</td>
                            <td><span  class='badge'>3</span></td>
                            <td><button class='btn btn-blue'><i class='fa fa-thumbs-up'></i></button></td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>song title</td>
                            <td>song artist</td>
                            <td><span  class='badge'>3</span></td>
                            <td>vote</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="../public/js/playlist.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>

</html>


<!--
<html>

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no'>
    <base href='www.catirinandcolin.com'>

    <meta name='description' content='...'> link(rel='prefetch' href='...js file'
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Playfair+Display|Raleway:200,400|Prata:200,400" rel="stylesheet">
    <link rel='stylesheet' href='../public/vendor/normalize.css'>
    <link rel='stylesheet' href='../public/vendor/animate.css'>
    <link rel='stylesheet' href='../public/vendor/aos.css'>
    <link rel='stylesheet' href='./css/base.css'>
    <link rel='stylesheet' href='./css/modules.css'>
    <link rel='stylesheet' href='./css/footer.css'>
    <link rel='stylesheet' href='./css/modal.css'>
    <link rel='stylesheet' href='./css/layout.css'>
    <link rel='stylesheet' href='./css/nav.css'> // Global site tag (gtag.js) - Google Analytics
    <script async type='text/javascript' src="https://www.googletagmanager.com/gtag/js?id=UA-109028742-2"></script>

</head>

<body>
    <header>
        <nav id="main" class="menu">
            <ul class="main-nav">
                <li class="nav-item"><a href="#events">Events</a></li>
                <li class="nav-item"><a href="#accommodations">Accommodations</a></li>
                <li class="nav-item"><a href="#things-to-do">Things To Do</a></li>
                <li class="nav-item"><a href="#photographs">Photographs</a></li>
                <li class="nav-item"><a href="#registries">Gift Registries</a></li>
            </ul>
        </nav>
        <span class="nav-btn"><img src="../public/img/bars.svg"></span>
        <div class="names">
            <h1 class="name--caitrin">Caitrin <span class="and">&amp;</span> Colin</h1>
            <span class="full-date">December 1, 2018</span>
        </div>
    </header>
    <main>
        <section id="welcome">
            <div class="container">
                <h2>Welcome</h2>
                <p>We are so excited to celebrate our wedding surrounded by friends and family! We hope that this website will provide you with all the information you need. Below you will find ceremony and reception details including addresses and directions, accommodation details, and much more.</p>
                <div class="playlist">
                    <span class="playlist-btn animated"></span>
                    <div class="playlist-body">
                        <h3>Already hoping that we’ll play your favourite dancing tune at the wedding? Request or vote for your favorite song!</h3>
                        <a href='#' class="">Wedding Playlist</a>
                    </div>
                </div>

                <div class="countdown">
                    <div class="date">
                        <span class="date-title">Months</span>
                        <span class="date--months">00</span>
                    </div>
                    <div class="date">
                        <span class="date-title">Days</span>
                        <span class="date--days">00</span>
                    </div>
                    <div class="date hours">
                        <span class="date-title">Hours</span>
                        <span class="date--hours">00</span>
                    </div>
                    <div class="date minutes">
                        <span class="date-title">Minutes</span>
                        <span class="date--minutes">00</span>
                    </div>
                    <div class="date seconds">
                        <span class="date-title">Seconds</span>
                        <span class="date--seconds">00</span>
                    </div>
                </div>
            </div>
        </section>

        <section id="events" class="grid--2-col">
            <div class="event-content grid-item--lft" data-aos="zoom-in">
                <div class="container">
                    <h2>Events</h2>
                    <p>The ceremony and reception will take place at Pinehills Golf Club. Come dressed in your best and ready to dance!</p>
                    <ul class="schedule">
                        <li class="event highlight">Pinehills Golf Club in Plymouth, MA</li>
                        <li class="event">Ceremony ~ Evening of December 1, 2018</li>
                        <li class="event">Reception to follow</li>
                    </ul>
                    <a class="btn animated" href="#">Directions</a>
                </div>
            </div>
            <div class="event-img grid-item--rgt" data-aos="flip-left">
                <img src="http://res.cloudinary.com/frndcolin/image/upload/v1519797202/wedding-site/img001.jpg">
            </div>
        </section>

        <section id="accommodations">
            <div class="container">
                <h2>Accommodations</h2>
                <p>Special rates have been reserved for our guests at Hotel 1620 Plymouth Harbor, just 15 minutes from Pine Hills. Transportation will be provided to and from Hotel 1620 to Pine Hills prior to the ceremony and after the reception. When making the reservation make sure to enter the <span class="discount">promo code "walsh"</span> to get the special rate.</p>
                <br>
                <p>Hotel 1620 Plymouth Harbor</p>
                <p>180 Water St, Plymouth MA 02360</p>
                <p><a href="https://www.hotel1620.com/">www.hotel1620.com</a></p>
                <p>1-508-747-4900</p>
                <div class="btn-group">
                    <a class="btn animated" href="#">Make Reservation</a>
                    <a class="btn btn-ghost animated" href="#">Directions</a>
                </div>
            </div>
            <div class="locations">
                <span class="map-title">Click on the locations for more information</span>
                <div id="hotel-1620" class="map-info map-hide">
                    <div class="map-info-close"></div>
                    <div class="map-info-body">
                        <div class="map-info-title">
                            <h4>Hotel 1620</h4>
                        </div>
                        <div class="map-info-content">
                            <p>Situated across the street from the bay, Hotel 1620 Plymouth Harbor offers spacious, beautifull accommodations. With free parking, complimentary WiFi and courteous, and attentive guest service. Be sure to enter the <span class="discount">promo code "walsh"</span> when making your reservation.</p>
                            <div class="map-btns">
                                <a class="map-info-btn animated" href="#">Directions</a>
                                <a class="map-info-btn animated" href="#">Web Site</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="pine-hills" class="map-info map-hide">
                    <div class="map-info-close"></div>
                    <div class="map-info-body">
                        <div class="map-info-title">
                            <h4>Pine Hills Country Club</h4>
                        </div>
                        <div class="map-info-content">
                            <p>The Pavilion is a warm and rustic inspired clubhouse nestled in the rolling hills of the Pinehills community of Plymouth, Ma. It offers a unique setting with its airy vaulted ceilings, exposed wood beams, and wall of windows overlooking the beautifully manicured golf course.</p>
                            <div class="map-btns">
                                <a class="map-info-btn animated" href="#">Directions</a>
                                <a class="map-info-btn animated" href="#">Web Site</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="map"></div>
            </div>
        </section>

        <section id="things-to-do" class="grid--2-col">
            <div class="boston grid-item--lft" data-aos="zoom-in-right">
                <div class="container">
                    <h2>Boston</h2>
                    <p>For our out of town guest that are flying into Boston and have time to explore, here is a list of some of our favorites to check out.</p>
                    <ul class="todo-list">
                        <li><a href="#">Boston Public Garden</a></li>
                        <li><a href="#">Faneuil Hall Marketplace</a></li>
                        <li><a href="#">North End</a></li>
                        <li><a href="#">Samuel Adams Brewery</a></li>
                        <li><a href="#">Harpoon Brewery</a></li>
                        <li><a href="#">Newbury Street</a></li>
                        <li><a href="#">New England Aquarium</a></li>
                    </ul>
                </div>
            </div>
            <div class="cape-cod grid-item--rgt" data-aos="flip-up">
                <div class="container">
                    <h2>Cape Cod</h2>
                    <p>Explore some of the historic sites in Plymouth or some of the great scenary of Cape Cod.</p>
                    <ul class="todo-list">
                        <li><a href="#">Pilgrim Memorial State Park</a></li>
                        <li><a href="#">Plymouth Rock</a></li>
                        <li><a href="#">Village Landing Marketplace</a></li>
                        <li><a href="#">Lighthouse Beach</a></li>
                        <li><a href="#">Cape Cod Canal</a></li>
                        <li><a href="#">Main St Chatham</a></li>
                    </ul>
                </div>
            </div>
        </section>

        <section id="photographs">
            <div class="container">
                <h2>Photographs</h2>
                <ul class="gallery">
                    <li class="gallery-item img-lg" data-aos-anchor=".gallery" data-aos="zoom-in-up">
                        <img src="http://res.cloudinary.com/frndcolin/image/upload/q_70/v1519797202/wedding-site/img006.jpg">
                    </li>
                    <li class="gallery-item img-sm" data-aos-anchor=".gallery" data-aos="flip-right">
                        <img src="http://res.cloudinary.com/frndcolin/image/upload/q_70/v1519797202/wedding-site/img017.jpg">
                    </li>
                    <li class="gallery-item img-tl" data-aos-anchor=".gallery" data-aos="zoom-in-left">
                        <img src="http://res.cloudinary.com/frndcolin/image/upload/q_70/v1519797202/wedding-site/img-003.jpg">
                    </li>
                    <li class="gallery-item img-sm" data-aos-anchor=".gallery" data-aos="zoom-in-down">
                        <img src="http://res.cloudinary.com/frndcolin/image/upload/q_70/v1519797202/wedding-site/img019.jpg">
                    </li>
                    <li class="gallery-item img-tl" data-aos-anchor=".gallery" data-aos="zoom-in-right">
                        <img src="http://res.cloudinary.com/frndcolin/image/upload/q_70/v1519797202/wedding-site/img007.jpg">
                    </li>
                    <li class="gallery-item img-lg" data-aos-anchor=".gallery" data-aos="flip-up">
                        <img src="http://res.cloudinary.com/frndcolin/image/upload/q_70/v1519797202/wedding-site/img014.jpg">
                    </li>
                    <li class="gallery-item img-sm" data-aos-anchor=".gallery" data-aos="zoom-in-left">
                        <img src="http://res.cloudinary.com/frndcolin/image/upload/q_70/v1519797202/wedding-site/img005.jpg">
                    </li>
                    <li class="gallery-item img-sm" data-aos-anchor=".gallery" data-aos="zoom-in-down">
                        <img src="http://res.cloudinary.com/frndcolin/image/upload/q_70/v1519797202/wedding-site/img008.jpg">
                    </li>
                </ul>
            </div>
            <div class="img-box animated">
                <div class="img-box-close"> <img src="../public/img/close.svg"></div>
                <div class="img-box-content">
                    <img src="">
                </div>

                <div class="img-box-controls">
                    <div class="control control-lft">
                        <img src="../public/img/img-box-control.svg">
                    </div>
                    <div class="control control-rgt">
                        <img src="../public/img/img-box-control.svg">
                    </div>
                </div>

            </div>
        </section>

        <section id="registries">
            <div class="container">
                <h2>Gift Registries</h2>
                <div class="registry-list">
                    <a class="registry" href="#">
                        <img src="../public/img/bbb.png">
                    </a>
                    <a class="registry" href="#">
                        <img src="../public/img/Zola-Logo.png">
                    </a>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <ul class="footer-nav">
            <li class="nav-item"><a href="#events">Events</a></li>
            <li class="nav-item"><a href="#accommodations">Accommodations</a></li>
            <li class="nav-item"><a href="#things-to-do">Things To Do</a></li>
            <li class="nav-item"><a href="#photographs">Photographs</a></li>
            <li class="nav-item"><a href="#registries">Gift Registries</a></li>
            <li class="nav-item"><a href="#events">Pine Hills</a></li>
            <li class="nav-item"><a href="#accommodations">Hotel 1620</a></li>
            <li class="nav-item"><a href="#accommodations">Playlist Vote</a></li>
        </ul>
        <div class="footer-content">
            <p>Sign up to be notified of any updates!</p>
            <form>
                <input type="email" placeholder="e-mail@mail.com">
                <button type="submit" class="btn frm-btn">Submit</button>
            </form>

            <p>If you have a question, please contact friendwalsh2018@gmail.com</p>
        </div>
        <p class="thanks">Special thanks to <a href="#">Ben Boynton Photography</a></p>
    </footer>


    <script src="../public/js/display.js"></script>
    <script src="../public/vendor/aos.js"></script>
    <script src="../public/vendor/zenscroll.min.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCl5Bletj_g8V6KqWBKJ8ZYCuKkiAD4i1s&callback=initMap" type="text/javascript"></script>
    <script src="../public/js/g-map.js"></script>
    <script src="../public/js/index.js"></script>

    <script>
    </script>

    <script>
        var granimInstance = new Granim({
            element: '#canvas-image-blending',
            direction: 'top-bottom',
            opacity: [0.3, 0.6],
            isPausedWhenNotInView: true,
            states: {
                "default-state": {
                    gradients: [
                        ['#D6A319', '#28324A']
                    ],
                    transitionSpeed: 6000
                }
            }
        });
    </script>

    <script>
        var btn = document.querySelectorAll('.btn');

        btn.forEach(function(elm) {
            elm.addEventListener('mouseover', function() {
                this.classList.add('pulse');
            });
            elm.addEventListener('mouseleave', function() {
                this.classList.remove('pulse');
            });
        });
    </script>

    <script>
        AOS.init({
            disable: window.innerWidth < 720,
            duration: 800,
            easing: 'ease-in-sine',
            once: true
        });
    </script>

    <script>
        var pineHillsMapInfo = document.querySelector("#pine-hills");
        var hotel1620MapInfo = document.querySelector("#hotel-1620");
        var mapClose = document.querySelectorAll(".map-info-close");

        mapClose.forEach(function(closeBtn) {
            closeBtn.addEventListener('click', function() {
                this.parentNode.classList.add('hide');
                this.parentNode.classList.remove('show');
            });
        });
    </script>

</body>

</html>
-->
